.gravity-forms-disabled-styles {
  ul {
    list-style: none;
    padding: 0;

    li {
      @extend .form-group;
    }
  }

  .gfield_required {
    color: $tertiary;
    margin-left: .2rem;
  }

  .gform_validation_container {
    display: none;
  }

  .gform_footer {
    margin: 1.5rem 0 0 0;
    padding: 0;
  }

  .textarea.small {
    height: 100px;
  }

  .gform_ajax_spinner {
    position: absolute;
    margin-left: 1rem;
  }

  .validation_error {
    @extend .alert;
    @extend .alert-danger;
    color: $danger;
    font-weight: 500;
    @media (min-width: 639.98px) {
      right: 8px;
    }

  }

  .gfield_error {
    background-color: transparent;
    margin: 0;
    padding: 0;
    @media (min-width: 639.98px) {
      margin-right: 16px;
    }
    border: none;

    .validation_message {
      color: $danger;
      font-size: .8rem;
      font-weight: 500;
      margin-top: 0;
      padding-top: .5rem;
    }
  }

  .gfield_label {
    line-height: 1;
    margin-top: 0;
    color: $primary;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: $spacer*.35;
  }
}

.gform_confirmation_wrapper {
  margin: 2rem 0;
  @extend .alert;
  @extend .alert-success;
}

#gform_wrapper_1,
#gform_wrapper_2 {
  @extend .gravity-forms-disabled-styles;

  label {
    font-weight: normal;
  }

  .ginput_container {
    margin: 0;
  }

  .ginput_container input,
  .ginput_container textarea {
    @extend .form-control;
  }

  .gform_button {
    @extend .btn;
    @extend .btn-success;
  }

  .gform_footer {
    @extend .text-center;
  }

  .gform_ajax_spinner {
    position: absolute;
  }
}

.btn-success, #gform_wrapper_1 .gform_button
.btn-success, #gform_wrapper_2 .gform_button {
  background-color: $gfrom-btn;

  &:hover {
    background-color: darken($gfrom-btn, 5%);
  }

  &:active {
    background-color: darken($gfrom-btn, 5%) !important;
  }
}

#gform_wrapper_1 .gform_footer
#gform_wrapper_2 .gform_footer {
  text-align: left !important;
}

.resume-upload {
  .ginput_container_fileupload {
    font-size: 80%;
  }
}

// Check In form

.checkInForm-wrap-m {
  margin: -4rem 0 3rem 0;
}

#checkInForm {

  @include media-breakpoint-up(lg) {
    max-width: 780px;
  }
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);

  .datePickW,
  .selectW {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  .datePickW {
    @include media-breakpoint-up(lg) {
      width: 250px;
    }
  }

  .selectW {
    @include media-breakpoint-up(lg) {
      width: 100px;
    }
  }
}

// Sign Up form

#signupForm {
  @include media-breakpoint-up(sm) {
    .form-group {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  div {
    @include media-breakpoint-up(sm) {
      flex-grow: 1;
    }
  }

  input {
    border: 2px solid $secondary;
    padding-top: .988888889rem;
    padding-bottom: .788888889rem;
  }
}

// General site form styles

label {
  font-family: $font-family-sans-serif;
  margin-bottom: 0;
  font-size: 1.25rem; //14px
}

.form-control,
#gform_wrapper_1 .ginput_container input,
#gform_wrapper_2 .ginput_container input,
#gform_wrapper_1 .ginput_container textarea
#gform_wrapper_2 .ginput_container textarea {
  border-radius: 0px;
  border-color: $primary;
}

.custom-select {
  border-radius: 0px;
  border-color: $primary;
}

$placeholder: #b8b8b8;

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder;
}


// custom date picker


.normal-top {
  @include media-breakpoint-down(sm) {
    width: 160px;
  }
}

.selection-top,
.selected-days {
  @include media-breakpoint-down(sm) {
    display: block !important;
  }
}

body #gform_wrapper_1 .gform_footer input[type=submit],
body #gform_wrapper_2 .gform_footer input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
  margin-right: auto;
  display: block;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield,
body #gform_wrapper_2 .gform_body .gform_fields .gfield {
  margin-top: 0;
}


body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text],
body #gform_wrapper_2 .gform_body .gform_fields .gfield input[type=text] {
  height: 3rem;
  line-height: 1;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield_error,
body #gform_wrapper_2 .gform_body .gform_fields .gfield_error {
  color: $tertiary;
}


body #gform_wrapper_1 .gform_body .gform_fields .gfield .ginput_container_select,
body #gform_wrapper_2 .gform_body .gform_fields .gfield .ginput_container_select {
  border: 1px solid #404040;
  height: 54px;
  overflow: hidden;
  outline: none;
  @include media-breakpoint-up(lg) {
    height: 60px;
  }

  select {
    cursor: pointer;
    color: #495057;
    border: 0px solid transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    height: 54px;
    border-radius: 0;
    width: 99.5%;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg) {
      height: 58px;
    }
  }

  select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

body #gform_wrapper_2 .gform_body .gform_fields .gfield .gfield_radio {
  input {
    display: inline-block;
  }
  label {
    font-size: 1rem;
    line-height: 1;
    margin-top: 10px;
  }
}