// general all Navs

.dropdown-toggle::after {
  display: none;
}

// ******* #logoLeftButtonsRight *******

#logoLeftButtonsRight {
  // opening tag
  border-top: 6px solid $secondary;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);

  .navbar {
    padding: ($spacer)-6 15px $spacer;
  }

  .navbar-main-logo {
    width: 180px;
    @include media-breakpoint-up(xl) {
      width: 266px;
    }
  }

  #main-menu {

    .nav-link {
      text-transform: uppercase;
      font-family: $font-family-serif;
      font-weight: 700;
    }

    @include media-breakpoint-down(lg) {
      .nav-item:last-of-type {
        .nav-link {
          padding-bottom: 0;
        }
      }
      .nav-link {
        margin-left: .5rem;
      }
    }
    @include media-breakpoint-up(lg) {
      .nav-link {
        padding: $spacer/2;
      }
    }
  }

  #mainnav {
    .navbar-nav {
      @include media-breakpoint-down(md) {
        margin-top: $spacer/2;
      }
    }
  }

  .navbar-light .navbar-toggler {
    background: $secondary;
    color: $white;
    border: none;
    font-size: 1.5rem;
  }

  .dropdown-toggle::after {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    .navbar-nav .nav-link.dropdown-toggle {
      padding-right: 1.5rem;
    }

    .dropdown .caret {
      position: absolute;
      top: 45%;
      right: .5rem;
      margin-top: -.6rem;
    }

    .dropdown-menu {
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
      border-radius: 0;
      border: none;
      right: 0;

      > .menu-item > .nav-link {
        padding: .75rem 1.5rem;
      }
    }
  }

  @include media-breakpoint-down(md) {

    .dropdown .caret {
      display: none;
    }

    .dropdown-menu {
      display: block;
      text-align: left;

      background: none;
      border: none;
      margin: 0;
      padding: 0 0 0 12px;
      position: relative;
      &:before {
        position: absolute;
        left: 8px;
        content: '';
        width: 4px;
        height: 100%;
        background-color: lighten($dark, 75%);
      }
    }

    .dropdown-toggle {
      text-align: left;
    }
  }

  // closing tag
}

.dropup, .dropright, .dropdown, .dropleft {
  padding-right: 15px;
}
.dropdown-menu {
  font-size: .8rem;
}

